/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
font-family: sans-serif;
  margin: 2em;
}

article {
width: 50em;
}

h1 {
width: 800px;
margin: 1em;
}

img {
	max-width: 100%;

}
